body{
    background-color:white;
    font-family: 'Libre Franklin', sans-serif !important;
}
.headerCampaign{
    width: 100%;
    height: 44px;
    background-color: #f2f2f2;
}
.headerLink{
    font-family: 'Libre Franklin', sans-serif;
    color: black;
    font-size: 13px;
}
span{
    margin-left: 2rem;
}
.searchingBox{
    width: 320px;
    border-radius: 20px;
    border: 1px solid #edf0f2;
}
#seachInputField{
    border: none;
    float: left;
}
input,
input::-webkit-input-placeholder {
    font-size: 11px;
    line-height: 3;
}
#searchButton{
    padding-right: 0;
    margin-left: 4rem;
    margin-top: 4px;
    box-sizing: border-box;
}
.nav-link{
    color: black;
    font-size: 13px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: normal;
}

.card{
    border: none !important;
}
.productBody{
    padding: 6px 0 2px 1px!important;
}
.card-title.productTitle{
    font-size: 13px;
    padding-bottom: 0px;
    margin-bottom: 1px;
}
.productPrice{
    font-size: 13px;
    font-weight: 600;
    padding: 0;
    margin-bottom: 1px;
}
.btn.btnDiscount{
    margin-top: 0;
    width: 100%;
    border: 1px solid #adaba5;
    border-radius: 3px;
    font-size: 13px;
}
.heart{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    z-index: 2;
}
.mixturePhoto{
    height: 37vh;
    position: relative;
    background: url('images/bodyPhoto/photomixture.jpg') no-repeat center center/cover;
}
.chosenProductInfo{
    position: absolute;
    top:28vh;
    right: 35%;
    z-index: 2;
    color: red;
    font-weight: 700;
    border-bottom: 9px solid black;
}
.footerImg{
    height: 30vh;
}
h1{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700 !important;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
}
.info{
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}
a.btn{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
}
.footerSection{
    padding: 15px 0 15px 0;
    margin-top: 8px;
    border-top: 2px solid #edf0f2;;
    border-bottom: 2px solid #edf0f2;;
}
ul{
    padding-left:1px;
}
li {
    list-style-type: none;
}
.footerLink{
    font-family: 'Libre Franklin', sans-serif;
    color: black;
    font-size: 12px;
    padding: 1px 0 1px 0;
}
.footerTitle{
    color: black;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footerText{
    color: black;
    font-size: 12px;
    text-align: justify;
}
.footerText2{
    font-size: 14px;
    font-weight: 500;
}
.form-check-label{
    font-size: 12px;
}
.footerIcon{
    margin: 0 20px 4px 0;
}